body {
	background-image: url(billy.jpg);
	background-repeat: no-repeat;
}
header li{
	
	display: inline-block;
	font-size: 50px;
	font-family: Impact;
	padding: 50px;
	transition-duration: 500ms;


}
header li:hover{
	font-size: 70px;
}
header a{
	text-decoration: none;
	padding: 100px;

}
.video-will-be-fine{
	

	float: left;
	margin-left: 14%;
	margin-top: 3%;

}
.video-will-be-fine-2{
	float: right;
	margin-top: 3%;
	margin-right: 13%;
}
.video-will-be-fine-3{
		float: right;
	margin-top: 1.9%;
	margin-right: 13%;
}
@media screen and (max-width: 1080px) {
	body{
		background-image: url(billy-mob.jpg);
		background-size: 200%;
		

	}
	@media screen and (max-width: 1080px){
		header li{
			font-size: 100px;
			display: inline-table;
			padding: 180px;
			float: left;



		}
		ul{
			margin-top: 20%;
			margin-left: -25%;
		}
		
		

	}

}
@media screen and (max-width: 1080px){
	iframe{
		height: 230px;
		width: 410px;
		float: right;
		display: inline-table;



	}
	.video-will-be-fine{
    float: right;
    margin-top: -135%;
    margin-right: 5%
  }
  .video-will-be-fine-2{
    float: right;
    margin-top: -85%;
    margin-right: 5%
  }
  .video-will-be-fine-3{
    float: right;
    margin-top: -35%;
    margin-right: 5%
  }
}