body{
	background: url("billy.jpg");
}
.title{
	font-size: 80px;
	color: white;
	font-family: Impact;
	padding: 20px;
}
.full1{
	position: absolute;
	left: 100px;
	padding-top: 40px;
}
.full2{
	position: absolute;
	left: 690px;
	padding-top: 40px;
}
.full3{
	position: absolute;
	left: 1280px;
	padding-top: 40px;
}
.info{
	color: white;
	font-size: 20px;
}
.full4{
	position: absolute;
	top: 570px;
	left: 100px;
}
.full5{
	position: absolute;
	top: 570px;
	left: 690px;
}
.full6{
	position: absolute;
	top: 570px;
	left: 1280px;
}